{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./{% static 'countdown.js' %}"></script>
  <title>Burning Rate</title>
</head>
<body>
  <input type="button" value="Hjem" onclick="location.href='/alcoholcalc/'">
  <form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" value="Beregn">
  <p>{{ output }}</p>
  <div>Registration closes in <span id="time">05:00</span> minutes!</div>
</body>
</html>
